body{
    margin: 0;
    padding: 0;
}


.nav{
    width: Fill (1,440px)px;
height: Hug (88px)px;
padding: 16px 160px 16px 260px;
gap: 0px;
border: 0px 0px 1px 0px;
justify: space-between;
opacity: 0px;
border-bottom: 1px solid #B5B5B5;


}
.cyber{
    margin-top: 1rem;
}



.searchbtn{
    display: inline-block;
    position: relative;
width:  Fixed (372px)px;
height: Fixed (56px)px;

padding: 10px 0px 0px 0px;
gap: 8px;
radius:px;
opacity: 0px;
margin-top: 0.4rem;
background-color: #F5F5F5;

}
.searchbtn input{
    width: 250px;
    margin-top: -1rem;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: url('imagess/Vector se.png') no-repeat 10px center;
    background-size: 20px 20px;
    

}
.searchbtn input:focus{
outline: none;
}
.searr{
    margin-top: 0rem;
    margin-bottom: rem;
    margin-left: 1rem;
    padding-left: 1rem;
    color: #656565;

}
.navbar{
    width: Hug (369px)px;
height: Hug (19px)px;
gap: 60px;
opacity: 0px;

margin-top: 1rem;
}
.home:hover{
    color: bisque;
}
.home{
    width: 46px;
height: 19px;
gap: 0px;
opacity: 0px;
padding-right: 3rem;
color: black;
font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 19.36px;
text-align: left;
text-decoration: solid;
}
.about{
    width: 47px;
height: 19px;
gap: 0px;
opacity: 0.3px;
font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 19.36px;
text-align: left;
 padding-right: 3rem;
 color: rgb(186, 184, 184);
 text-decoration: solid;

}
.about:hover{
    color: bisque;

}
.Contact{
    padding-right: 3rem;
    color: rgb(186, 184, 184);

    text-decoration: solid;

}
.Contact:hover{
    color: bisque;

}
.blog{
    
    color: rgb(186, 184, 184);
    text-decoration: solid;



}
.blog:hover{
    color: bisque;

}
.nav{
    display: flex;
    gap: 5%;
}
.photodiv{
    width: Hug (144px)px;
margin-top: 1rem;
    height: Hug (32px)px;
gap: 24px;
opacity: 0px;
padding-left: 2rem;
}
.fav{
    padding-right: 1rem;

    height: 1rem;

}
.poeple{
    padding-right: 1rem;
    height: 1rem;


}
.cart{
    padding-right: 1rem;
height: 1rem;

}
.shopping{
    width: Fill (1,440px)px;
    height: Hug (880px)px;
    padding: 112px 160px 112px 160px;
    gap: 48px;
    opacity: 0px;
    
}
.shopping1{
    width: Fill (1,120px)px;
    height: Hug (656px)px;
    gap: 48px;
    opacity: 0px;
    display: flex;
    justify-content: center;
}
.shopping2{
    width: Fill (536px)px;
    height: Hug (556px)px;
    gap: 40px;
    opacity: 0px;

    
}
.sh22{
    width: 536px;
height: 24px;
gap: 0px;
opacity: 0px;

}
.sh23{
    display: flex;
    width: Fill (536px)px;
height: Hug (138px)px;
padding: 16px 0px 32px 0px;
gap: 15px;
border: 0px 0px 0.5px 0px;
opacity: 0px;
gap: rem;

}
.sh231{
    display: flex;
    width: Fill (536px)px;
height: Hug (138px)px;
padding: 16px 0px 32px 0px;
gap: 15px;
border: 0px 0px 0.5px 0px;
opacity: 0px;
gap: rem;
margin-top: 1rem;

}
.sh232{
    display: flex;
    width: Fill (536px)px;
height: Hug (138px)px;
padding: 16px 0px 32px 0px;
gap: 15px;
border: 0px 0px 0.5px 0px;
opacity: 0px;
gap: rem;
margin-top: 1rem;
}
.shh{
    width: Fill (536px)px;
height: Hug (492px)px;
gap: 40px;
border-radius: 15px 0px 0px 0px;
opacity: 0px;
margin-top: 3rem;

}
.oooo{
    font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 16px;
text-align: left;

}
.check{
    width: Fill (408px)px;
height: Hug (56px)px;
padding: 16px 56px 16px 56px;
gap: 8px;
border-radius: 6px ;
opacity: 0px;
background-color: black;
color: white;
width: 20rem;
}
.num{
    color: #545454;
margin-top: -1rem;
}
.cco{
    color: #545454;

}
.inpu{
    width: 19rem;
    height: 4rem;
}
.inpu1{
    width: 19rem;
    height: 2rem;
}
.code{
    color: #545454;

}
.sh24{
    display: flex;
    flex-direction: column;
    margin-top: -1rem;
}
.shopping3{
    width: Fill (536px)px;
    height: Hug (656px)px;
    padding: 56px 64px 56px 64px;
    gap: 40px;
    border-radius: 10px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    margin-top: rem;
    border: 1px solid #EBEBEB;
}
.ccart{
    font-family: Inter;
font-size: 24px;
font-weight: 600;
line-height: 24px;
text-align: left;

}
.ppic{
    height: 7rem;
}
.maxx{
    font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;
margin-top: 0;
}
.close{
    height: 1rem;
    margin-bottom: 0;
    margin-top: 1.5rem;
}
.sub{
    display: flex;
}
.dollar{
    margin-left: 8rem;
}
.dollar1{
    margin-left: 14.7rem;
}
.dollar2{
    margin-left: 13.6rem;
}
.dollar3{
    margin-left: 15.8rem;
}

.exact{
    background: #000000;
    width: Fill (1,440px)px;
height: Hug (504px)px;
padding: 104px 160px 104px 160px;
gap: 34px;
opacity: 0px;
margin-top: -1rem;

}
.exact1{
    display: flex;
    width: Fill (1,120px)px;
height: 20rem;

gap: 0px;
justify: space-between;
opacity: 0px;


}
.exact2{
    color:  #CFCFCF;
    width: Fixed (295.5px)px;
height: Hug (256px)px;
gap: 8px;
opacity: 0px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
justify-items: flex-start;
align-content: center;
 margin-top: 0;
 margin-left: 15rem;
}
.ww{
    width: 21rem;
}
.exact3{
    color:  #CFCFCF;

    height: Hug (94.87px)px;
    gap: 24px;
    opacity: 0px;
    margin-top: 2rem;
    
}
.ss{
    margin-left: 2.2rem;
    font-family: Inter;
font-size: 16px;
font-weight: 600;
line-height: 16px;
text-align: left;
margin-bottom: 0;
}
.aa{
    margin-left: 2.2rem;
    font-family: Inter;
font-size: 16px;
font-weight: 600;
line-height: 16px;
text-align: left;
margin-bottom: 0;

}